<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="duke"
          class="cn.trusteye.springidol.Juggler">
        <constructor-arg value="15"/>
    </bean>

    <bean id="sonnet29"
          class="cn.trusteye.springidol.Sonnet29">
    </bean>

    <bean id="poeticDuke"
          class="cn.trusteye.springidol.poeticJuggler">
        <constructor-arg value="15"/>
        <constructor-arg ref="sonnet29"/>
    </bean>

    <bean id="theStage"
          class="cn.trusteye.springidol.Stage"
          factory-method="getInstance">
    </bean>

</beans>